button {
    color: #FFF;
    background-color: #7c6d84;
    font-size: 15px;
    height: 40px;
    border-radius: 4px;
}

myHero {
    display: none;
    background-color: #fa7e2b;
    padding: 2px;
    font-size: 10px;
}

#header {
    width: 100%;
    background-color:  #57d3b8;
    height: 30px;
}

.pedidonumero {
    background-color:  #57d3b8;
    width: 100%;
    font-size:36px;
}

#container {
    width: 300px;
    background-color: #ffcc33;
    margin: auto;
}

#first {
    width: 300px;
    float: left;
    height: 300px;
    background-color: blue;
}

#second {
    width: 200px;
    float: left;
    height: 300px;
    background-color: green;
}

#clear {
    clear: both;
}

body {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

label {
    display: inline-block;
    width: 200px;
    margin-right: 30px;
    text-align: right;
}

input {
    font: arial, sans-serif;
    border: 1px solid #dddddd;
    text-align: center;
    margin-right: 50px;
    padding: 8px;
    font-size: 16px;
    font-family: 'Lucida Casual', 'Comic Sans MS';
}

select {
    font: arial, sans-serif;
    border: 5px solid #dddddd;
    text-align: center;
    margin-right: 30px;
    padding: 8px;
    font-size: 16px;
    font-family: 'Lucida Casual', 'Comic Sans MS';
}