<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <title>Daniel Login</title>

    <meta id="meta" name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/taskman.css" />
    <link rel="stylesheet" type="text/css" href="css/restaurantec.css" />

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700" rel="stylesheet" type="text/css">

</head>

<body ng-controller="tasksController" onload="danielonload()">
    <div id="header" class="navbar navbar-left" id="navbar">
        <a href="/" class="btn btn-md btn-success "> <i class="glyphicon glyphicon-book"></i>Main Page</a>
    </div>
    <myHero>
        <h2>Dan's Coins - Login</h2>
    </myHero>

    <h1>Login Page</h1>
    <form method="POST" action="/login">
        User ID:
        <p/>
        <input type="text" name="username" placeholder="username">
        <p/> Password:
        <p/>
        <input type="password" name="password" placeholder="password">
        <p/>
        <input type="submit" value="Login">
        <p/>
    </form>
    <p>If new user, create a new registration instead:</p>
    <a href="/signup" class="btn btn-md btn-success ">Click Here to Register</a>

    <script type="text/javascript" src="js/Chart.bundle.min.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/restauranteui.js"></script>

</body>

</html>