{{ define "pagebodytemplate" }}

<div id="header" class="navbar navbar-left" id="navbar">
    <a href="/" class="btn btn-md btn-success ">Home</a>
</div>

<h1>Welcome to the Festa Junina web site</h1>
<p>This application allows you to order food from the Brazilian Festa Junina stall.</p>
<p>You can view the Menu and see what is available.</p>
<p>You can view your placed orders and check the status.</p>
<p>You can cancel the order if it has not been started yet.</p>
<p></p>
<p>You will place the order using this web site, </p>
<p>check the status and when the status is Ready </p>
<p>you can go to the stall to pay and collect your order.</p>

<p>The steps are below:</p>

<p>List what is available from the Menu.</p>
<p>View and Place orders from the Orders option.</p>
<img src="images/part4.png" >            

<p>If you select Menu you will see the what is available. </p>
<img src="images/part5.png" >            

<p>If you select Orders you can see the list placed </p>
<p>and place a new order. </p>

<img src="images/part6.png" >            

<p>This is where you place your order.</p>
<p>Select the item, select the quantity and hit Add</p>
<img src="images/part7v2.png" >              
<p> </p>
<img src="images/part10.png" >            
<p> </p>
<img src="images/part11.png" >            
<p> </p>
<img src="images/part12.png" >            
<p> </p>
<p>You can go back to the Order list and watch until it turns Green! (Ready) </p>
<h3><p>If you order is READY you can go and pick it up!! </p></h3>
<img src="images/part13.png" >            
<p> </p>



{{ end }}