{{define "listtemplate"}}

<h1>View Order</h1>

<br>Order Number:<br>
<input type="text" id="orderID" name="orderID" value="{{ .OrderItem.ID }}" readonly>
<p/>
<br>Full Name:<br>
<input type="text" id="orderClientName" name="orderClientName" value="{{ .OrderItem.ClientName }}" readonly>
<p/>
<br> Order date:<br>
<input type="text" id="orderDate" name="orderDate" value="{{ .OrderItem.Date }}" readonly>
<p/>
<br> Order time:<br>
<input type="text" id="orderTime" name="orderTime" value="{{ .OrderItem.Time }}" readonly>
<p/>
<br> Total:<br>
<input type="text" id="orderTotal" name="orderTotal" value="{{ .OrderItem.TotalGeral }}" readonly>
<p/>

<br> Delivery, Pick-up or Eat-in:<br>
<select name="EatMode" id="EatMode" value="{{ .OrderItem.EatMode }}">
    <option value="Eatin">Eat-in</option>
    <option value="Delivery">Delivery</option>
    <option value="Takeaway">Take away</option>
</select>
<br>

<p/>

<div style="float:left;" class="table-responsive">
    <p>
        <table class="table table-striped table-bordered">
            <tr>
                <th>ID</th>
                <th>Dish</th>
                <th>Qty</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
            {{range .OrderItem.Items }}
            <tr>
                <td>{{ .ID }}</td>
                <td>{{ .PratoName }}</td>
                <td>{{ .Quantidade }}</td>
                <td>{{ .Price }}</td>
                <td>{{ .Total }}</td>
            </tr>
            {{end}}
        </table>
    </p>
    <button onclick="backToList() ">Back to List</button>
</div>


<p/> {{end}}